.sidebar{
    height: 100vh;
    width: 60px;
    background-color: #100c2c;
    position: fixed;
    box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    transition: ease-out 0.3s;
    overflow: hidden;
}
.sidebar:hover{
    width: 230px;
    transition: ease-out 0.3s;
}
.sidebar:hover .item span{
    color: red;
}
.item span{
    position: absolute;
    left: 80px;
    font-size: 14px;
}
.item{
    top: 10px;
    position: relative;
    padding: 20px;
    font-size: 20px;
}