.sidebar{
    height: 100vh;
    width: 60px;
    background-color: #100c2c;
    position: fixed;
    box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 17px -7px rgba(0,0,0,0.75);
    transition: ease-out 0.3s;
    white-space: nowrap;
    overflow: hidden;
}
.sidebar:hover{
    width: 250px;
}
.sidebar img{
    height: 25px;
}
.sidebar.close{
    width: 20px;
}
.sidebar ul{
    padding-top: 50px;
}
.sidebar li{
    height: 50px;
    margin: 10px 0px 10px 0px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: 0.2s;
    border-radius: 6px;
}
.sidebar li:hover{
    background-color: #080424;
    transition: 0.2s;
}
.sidebar li a{
    height: 100%;
    color: #585888;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar li i{
    font-size: 20px;
    display: flex;
    align-items: center;
    min-width: 40px;
}